.buttonWrapper {
  display: inline-block;
  position: relative;
  margin: 20px auto;

  &::before {
    transition: all 0.85s cubic-bezier(0.465, 0.84, 0.44, 1);
    content: "";
    margin-top: 10%;
    height: 25%;
    position: absolute;
    top: 0;
    left: -20%;
    border-radius: 50px;
    width: 0%;
    background: #73fda1;
    box-shadow: 0 0 5px #13fd62, 0 0 8px #13e359, 0 0 12px #08e352,
      0 0 15px #ddffe8, 0 0 25px #00ff55;
  }

  .buttonText {
    color: black;
    mix-blend-mode: hard-light;
  }

  .loadButton {
    transition: all 0.85s cubic-bezier(0.465, 0.84, 0.44, 1);
    padding: 10px 44px;
    font-size: 2em;
    position: relative;
    background-color: transparent;
    border-radius: 15px;
    background-color: #82c91e;
    cursor: pointer;
  }

  &:hover {
    .loadButton {
      mix-blend-mode: multiply;
    }
    &::before {
      width: 140%;
      box-shadow: 0 0 5px #13fd62, 0 0 8px #13e359, 0 0 12px #08e352,
        0 0 15px #ddffe8, 0 0 25px #00ff55;
    }
  }
}
