.mainPageCharacterCard {
  width: 90%;
  margin: 2% auto; 
  height: 15vh;
  border: 1px solid white;
  box-sizing: border-box;
  padding: 1%;
  display: flex;
  flex-direction: column;

  .name {
    text-align: initial;
    text-decoration: underline;
    color: aqua;
    margin-bottom: auto;
  }

  .characterInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: auto;
  }

  @media screen and (min-width: 769px) and (max-width: 1023px) {
    width: 40%;
  }

  @media screen and (min-width: 1024px) {
    width: 30%;
  }

}